.theme{
	&--primary{
		 --neutral-color: #F7F7F7;
		 --first-color: #282D31;
		 --second-color: #00cbff;
		 --light-grey:##F2F0F0;
	}
	&--secondary{
		 --neutral-color: #F7F7F7;
		 --first-color: #00cbff;
		 --second-color: #282D31;
		 --light-grey:##F2F0F0;
	}

}
