.cards,
[class^=cards-] {
 display: grid;
 align-content: center;
 justify-items: center;
 grid-template-columns: 1fr;
 padding: 4em 0;
 grid-gap:.5em;
}
.cards{
    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }
    &-skills{
        @include desktop {
            grid-template-columns: repeat(4, 1fr);
            
        }
    }
    &-portafolio{
        
        display: grid;
        grid-template-columns:1fr;
        @include tablet{
            grid-template-columns: repeat(2, 1fr)
        }
        // grid-template-rows: repeat(16, 5vw);
         
         @include desktop{
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 5vw);
            grid-gap: 15px;
         }
    
    }
}