.form{
    @include desktop{
        width: 500px;

    }
    &--group{
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        label{
            margin: .3em 0;
        }
    }
    &--input{
        width: 100%;
        padding: .8em;
        border: solid 1px var(--first-color);
    }
}