.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 150px 0;
  position: relative;

  @include desktop {
    height: 100vh;
  }

  // background: var(--first-color);


  .monster-dev {
    width: 300px;
    height: 300px;

    @include desktop {
      margin-right: 3em;
      width: 250px;
      height: 250px;
    }

    object-fit: contain;
  }

  .monster {
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    height: 100%;

    @include desktop {
      flex-direction: row;
    }

    &-content {
      @include phone {
        color: var(--second-color);

        a {
          color: var(--second-color);
        }

        padding-bottom: 0;
      }

      font-size: var(--font-size-sm);
      color: var(--neutral-color);
      position: relative;

      @include desktop {
        font-size: var(--font-size-md);
      }
    }
  }

  &::after {
    @include phone {
      background: initial;
    }

    content: "";
    position: absolute;
    width: 100%;
    // left: 0;
    right: -26%;
    // bottom: -10px;
    z-index: -1;
    height:70vh;

    @include desktop {
      height: 100%;
      background: url(https://media-files-test.s3.amazonaws.com/portafolio/profile.svg) no-repeat 50%/contain;
    }
  }
}

.jumbtron {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70vh;
  position: relative;
  flex-direction: column;
  background: var(--first-color);
}