.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 120px;

  @include desktop {
    padding: 150px 0;
    height: 100vh;
  }

  .monster-dev {
    width: 300px;
    height: 300px;

    @include desktop {
      margin-right: 3em;
      width: 250px;
      height: 250px;
    }

    object-fit: contain;
  }

  .monster {
    display: flex;
    height: 100%;

    &-title {
      @include desktop {
        font-size: var(--font-size-md);
      }
    }

    &-subtitle {
      @include phone {
        display: block;
      }
    }

    @include desktop {
      flex-direction: row;
    }

    &-content {
      @include phone {
        color: var(--second-color);

        a {
          color: var(--second-color);
        }

        padding-bottom: 0;
      }

      font-size: var(--font-size-sm);
      color: var(--neutral-color);
      position: relative;

      @include desktop {
        font-size: var(--font-size-md);
      }
    }
  }

  &::after {
    @include phone {
      background: initial;
    }

    content: "";
    position: absolute;
    width: 100%;
    right: -26%;
    z-index: -1;
    height:70vh;

    @include desktop {
      height: 100%;
      background: url(https://media-files-test.s3.amazonaws.com/portafolio/profile.svg) no-repeat 50%/contain;
    }
  }
}

.jumbtron {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70vh;
  position: relative;
  flex-direction: column;
  background: var(--first-color);
}